body {
}
#khung {
  font-size:24px;
}
#h1 {
  padding-top:50px;
}
#p {
  padding-top:30px;
}
#hinh4 {
    width :400px;
    height:555px;
    margin-right:30px;
}
#r {
    font-size:18px;
}

#r1 {
  padding-top:50px;
  padding-left:100px;
}
#r2 {
  padding-top:50px;
  padding-left:100px;
}

