@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Css_AboutUs.css" rel="stylesheet" />

<div id="carouselExampleIndicators" class="carousel slide mt-1" data-ride="carousel">
     <div class="carousel-inner" >
         <div class="carousel-item active" >
                <img class="d-block w-100" src="~/Content/Image/team.jpg" alt="First slide" />
            </div>
        </div>
</div>

<div class="container">
    <div id="khung" >
   
        <h2 style="text-align:center" id="h1" > WE ARE NOT JUST A TEAM, WE ARE FAMILY </h2>
     
       <p style="text-align:center" id ="p">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
            volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
            ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
            Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
            consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et
            accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit
            augue duis dolore te feugait nulla facilisi.
       </p>
   </div>
    <br />
    <br />
    <br />
      <div class="row">
             <div class="col-md-8">
                 <div class ="row">
                     <div class="col-md-6" >
                          <img src="~/Content/Image/aa.PNG" />
                     </div>
                      <div class="col-md-6" >
                          <img src="~/Content/Image/bb.png" />
                      </div>
                 </div>
                 <br />
                 <br />

                 <div class ="row">
                     <div class="col-md-6" >
                          <img src="~/Content/Image/cc.PNG" />
                     </div>
                     <div class="col-md-6" >
                          <img src="~/Content/Image/dd.PNG" />
                     </div>
                 </div>
               
             </div>
            <div class="col-md-2">
                <img id="hinh4" src="~/Content/Image/team3.jpg"/>
             </div>
           
       </div>
    <div class="row"id="r">
        <div class="col-md-5" id="r1">
             <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
                quis nostrud exerci tation ullamcorper suscipit lobortis nisl
                ut aliquip ex ea commodo consequat. Duis autem vel eum iriure
                dolor in hendrerit in vulputate velit esse molestie consequat,
                vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan
                et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue
                duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit ame,
                consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim venia,
                quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex
                 ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate
                  velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at
                 vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum
                 zzril delenit augue duis dolore te feugait nulla facilisi.

             </p>
         </div>
        <div class="col-md-5" id="r2">
                 <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                    sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                    magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
                    quis nostrud exerci tation ullamcorper suscipit lobortis nisl
                    ut aliquip ex ea commodo consequat. Duis autem vel eum iriure
                    dolor in hendrerit in vulputate velit esse molestie consequat,
                    vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan
                    et iusto odio dignissim qui blandit praesent luptatum zzril delenit
                    augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet,
                    consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                    laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
                    quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea
                    commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate
                    velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero
                    ros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit
                    augue duis dolore te feugait nulla facilisi.
                 </p>

         </div>

</div>
</div>

