
@{
    ViewBag.Title = "ChiTietSP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Css_PLSanPham.css" rel="stylesheet" />

@using DoAn.Models;
@model SanPham
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="/Content/Image/@Model.Hinh"/>
        </div>
        <div class="col-md-5">
            <h1>@Model.TenSP</h1>
            <br />
            <h4>@Model.Gia</h4>
            <br />
            <h5>@Model.MoTa</h5>
            <br />
            <button class="btn btn-outline-success" type="submit">
                <a href="@Url.Action("ThemGioHang", "GioHang", new { masp=@Model.MaSP , strUrl=Request.Url.ToString()})" style="color:black;font-size:17pt">ADD TO CART</a>
            </button>

        </div>
    </div>

</div>